<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login con Node</title>
    <!-- INCLUIR ARCHIVOS DE OTRO PATH -->
    <% include partials/head %>
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Login or Register</h1>
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user">Local-login</span>
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user">Local-Signup</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>