<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
      <!-- INCLUIR ARCHIVOS DE OTRO PATH -->
      <% include partials/head %>
</head>
<body>
    <div class="container">
        <header class="text-center">
            <h1>Page Profile</h1>
            <a href="/logout" class="btn btn-light btn-sm">
                Logout
            </a>
        </header>

        <hr>

        <div class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><span class="fa fa-user"></span> Local
                        </h3>
                        <p>
                            <strong>Id</strong>: <%= user._id %> <br>
                            <strong>Email</strong>: <%= user.local.email %> <br>
                            <strong>Password</strong>: <%= user.local.password %>
                        </p>
                        <a href="/logout" class="btn btn-light btn-sm">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>